.clearfix() {

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

}

.button-icon(@url, @margin: 0px -60px 0px 15px) {
  @button-icon-size: 60px;

  &:before {
    content: "";
    display: block;
    background: url(@url) 0px (.1 * 60px) no-repeat;
    float: left;
    width: @button-icon-size;
    height: @button-icon-size;
    background-size: .8 * @button-icon-size, .8 * @button-icon-size;
    margin: @margin;
  }
}
