.navbar {

  &.navbar-top {
    position: fixed;
    height: @navbar-top-height;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    text-align: center;
    color: #fff;
    line-height: @navbar-top-height;

    .navbar-icon {
      @hamburger-stripe-margin: 7px;
      @hamburger-stripe-height: 2px;

      @width: 40px;
      @margin-left: 20px;

      float: left;
      width: @width;
      margin-left: @margin-left;
      margin-right: -(@margin-left + @width);

      height: @navbar-top-height;
      margin-top: (@navbar-top-height - (4 * @hamburger-stripe-margin + 3 * @hamburger-stripe-height)) / 2;
      cursor: pointer;

      span {
        display: block;
        width: 40px;
        height: @hamburger-stripe-height;
        margin-top: @hamburger-stripe-margin;
        background-color: #ffffff;
      }

      &.active {
        display: none;
      }
    }

    .navbar-title {
      color: #fff;
      span {
        color: #fff;
      }
    }
  }

  &.navbar-bottom {
    position: fixed;
    height: @navbar-bottom-height;
    bottom: 0;
    left: 0;
    right: 0;

    .button-right {
      width: 50%;
      .button-icon("../images/Finalize_white.png");
      &.disabled {
        .button-icon("../images/Finalize_gray.png");
      }
    }

    .button-left {
      width: 50%;
      .button-icon("../images/Edit_Order_cyan.png");
    }
  }

  .navbar-menu {}

}
